body {
   background: #f5f5ff;
}

header {
    text-align: center;
    color: white;
    font-size: 35px;
    background: #000000a8;
    padding: 20px 50px;
    border-radius: 10px;
}

.tabs {
    display: flex;
    justify-content: center;
    background-color: #333;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin: 2px 0;
}

.tab-button {
    background-color: #2b2b2b;
    padding: 5px 12px;
    font-size: 16px;
    border: 1px solid #ccc;
    cursor: pointer;
    width: 80px;
    text-align: center;
    margin-right: px1;
    color: white;
}

.tab-button:hover {
    background-color: #3d3d3d;
    transform: scale(1.1);

}

.tab-button.active {
    background-color: #121212;
    font-weight: bold;
    color: white;
}

.tab-content {
    text-align: center;
    display: none;
    padding: 20px;
    border-top: 1px solid #ccc;
}

.tab-content.active {
    display: block;
}

h3 {
   font-size: 40px;
}

p {
   font-size: 17px;
   margin-top: 0px;
   margin-bottom: 5px;
}

.support-box {
            position: fixed;
            bottom: 0;
            left: 0;
            width: 100%;
            background-color: #333;
            color: white;
            padding: 15px 30px;
            text-align: center;
            font-size: 16px;
            box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.3);
            overflow-y: 10px;
        }

.unter {
  margin-bottom: 60px;
}

        .support-box a {
            color: #FFD700;
            text-decoration: none;
            font-weight: bold;
        }

        .support-box a:hover {
            text-decoration: underline;
        }

        h4 {
            color: #4CAF50;
            margin-top: 20px;
            font-size: 20px;
        }

        p {
            margin-bottom: 2px;
        }

        h5 {
              font-size: 33px;
        }

        footer {
            text-align: center;
            padding: 10px 0;
            background: #333;
            color: white;
            margin-top: 20px;
        }

        a {
            color: #4CAF50;
            text-decoration: none;
        }

        a:hover {
            text-decoration: underline;
        }

        .special-link1 {
            color: #ffd633;
            font-weight: bold;
            text-decoration: none;
            border: 3px solid #ffd633;
            padding: 20px 25px;
            border-radius: 5px;
}

.special-link1:hover {
    background-color: #ffd633;
    color: #fff;
}

        .special-link2 {
            color: #127fb5;
            font-weight: bold;
            text-decoration: none;
            border: 3px solid #127fb5;
            padding: 20px 25px;
            border-radius: 5px;
}

.special-link2:hover {
    background-color: #127fb5;
    color: #fff;
}

ul {
    list-style-position: inside;
    text-align: center;
}

.tab-content {
    position: relative;
}

        h5 {
            text-align: center;
            color: #333;
            margin-top: 50px;
        }

        h6 {
            color: #444;
            font-size: 1.5em;
            margin-top: 30px;
            margin-bottom: 10px;
        }

        ul {
            list-style-type: none;
            padding: 0;
        }

        li {
            background-color: #fff;
            margin: 5px 0;
            padding: 10px;
            border-radius: 5px;
            box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
            font-size: 1.2em;
            color: #333;
        }

.owner {
    background-color: #FFD700;
    color: #333;
}

.member {
    background-color: #4CAF50;
    color: white;
}

h7 {
    font-size: 1.5em;
}

h2 {
font-size: 40px;
}
